td.blank {
    background-color: #FFFFFF;
}

td.positive {
    background-color: #89C4F4;
}

td.filled {
    border: 3px solid #808080;
    border-collapse: collapse;    
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;

}
