<!doctype html>
<html lang="en">
  <head>
    <title>Adeft</title>
    <link rel="stylesheet" type="text/css" href="static/ground.css">
    {% block javascript %}
      <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    <h1>Adeft Grounding Assistant</h1>
    <form action="{{ url_for('ground.add_groundings') }}" method="POST">
      <p>
	Name: <input name="name" type="text" id="name-box">
	Grounding: <input name="grounding" type="text" id="grounding-box">
	<input type="submit" value="submit">
      </p>
      <table>
	<th>
	  <td>
	    Longform
	  </td>
	  <td>
	    Score
	  </td>
	  <td>
	    Name
	  </td>
	  <td>
	    Grounding
	  </td>
	  <td>
	    <!-- For mysterious reasons and to my utmost horror, the first form
		 of this kind is ignored within the table, so here's an empty one
		 that can be safely ignored. -->
	    <form action="{{ url_for('ground.delete_grounding') }}"
		  method="POST">
	    </form>
	  </td>
	  <td class="pad blank">
	  </td>
	  <td class="labels-head">
	    Labels
	  </td>
	</th>
	{# load config and session variables into local variables to save space #}
	{% set longforms = config['LONGFORMS'] %}
	{% set scores = config['SCORES'] %}
	{% set grounding_map = session['grounding_map'] %}
	{% set names_map = session['names_map'] %}
	{% set pos_labels = session['pos_labels'] %}
	{# pad labels with empty strings to length of longforms #}
	{% set labels = session['labels'] + ['']*(config['LONGFORMS']|length - session['labels']|length) %}
	{% for longform in config['LONGFORMS'] %}
	  {% set index = loop.index - 1 %}
	  {% set grounding = grounding_map[longform] %}
	  {% set name = names_map[grounding_map[longform]] %}
	  <tr>
	    <td>
	      <input name="select" value="{{ index }}" type="checkbox">
	    <td>
	      <div>
		{{ longform }}
	      </div>
	    </td>
	    <td class="score">
	      {{ scores[index] }}
	    </td>
	    <td class="pad">
		<div class="click-grounded" data-name="{{ name }}"
		  data-grounding="{{ grounding }}">
		  {{ name }}
		</div>
	    </td>
	    <td class="pad"> 
	      <div class="click-grounded" data-name="{{ name }}"
		data-grounding="{{ grounding }}">
		   {{ grounding }}
	      </div>
	    </td>
	    <td>
	      <form id="delete-form-{{ index }}"
		    action="{{ url_for('ground.delete_grounding') }}"
		    method="POST">
		<input name="delete.{{ index }}" class="delete"
		       value="X" type="submit" form="delete-form-{{ index }}">
	      </form>
	    </td>
	    <td class="pad blank">
	    </td>
	    <td class="pad {{ 'filled' if labels[index] else 'unfilled' }}
		       {{ 'positive' if index in pos_labels else 'blank' }}">
	      {{ labels[index] }}
	    </td>
	    </td>
	    <td class="blank">
	      {% if labels[index] %}
	      <form action="{{ url_for('ground.add_positive') }}"
		    method="POST">
		<input name="pos-label.{{ index }}" value="+"
		       type="submit">
	      </form>
	      {% endif %}
	    </td>
	  </tr>
	{% endfor %}
      </table>
    </form>
    <form action="{{ url_for('ground.generate_grounding_map') }}" method="POST">
      	<input type="submit" value="generate">
    </form>
  </body>
</html>
